<div class="add-cart-container">
  <h1 class="title">Ajouter un nouveau chariot</h1>
  <form [formGroup]="cartForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Informations sur le chariot</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-fields">
          <div class="form-group">
            <label class="form-label">Numéro du chariot</label>
            <input matInput type="text" formControlName="cartNumber" placeholder="Entrez le numéro du chariot">
          </div>
          <div class="form-group">
            <label class="form-label">Fabricant</label>
            <mat-form-field>
              <mat-select formControlName="manufacturerName" placeholder="Sélectionnez un fabricant">
                <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">
                  {{ manufacturer }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Catégorie</label>
            <mat-form-field>
              <mat-select formControlName="categoryName" placeholder="Sélectionnez une catégorie">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="form-label">Type d'alimentation</label>
            <mat-form-field>
              <mat-select formControlName="fuelTypeName" placeholder="Sélectionnez un type d'alimentation">
                <mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType">
                  {{ fuelType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!cartForm.valid">Ajouter</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
