<div class="add-cart-container">
  <h1 class="title">Ajouter un nouveau chariot</h1>
  <form [formGroup]="cartForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Informations sur le chariot</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-fields">
          <div class="form-group">
            <label class="form-label">Numéro du chariot</label>
            <input matInput type="text" formControlName="cartNumber" placeholder="Entrez le numéro du chariot">
          </div>
          <div class="form-group">
            <label class="form-label">Marque</label>
            <input matInput type="text" formControlName="brand" placeholder="Entrez la marque du chariot">
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!cartForm.valid">Ajouter</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>