<div class="account-container">
    <h1 class="title">Scapartois Smile Reception</h1>
    <h2 class="subtitle">Informations Utilisateur</h2>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header>
                <!-- <mat-card-title>Informations Utilisateur</mat-card-title> -->
            </mat-card-header>
            <mat-card-content>
                <div class="form-fields">
                    <div class="form-group">
                        <label class="form-label">Nom</label>
                        <input matInput type="text" formControlName="name" placeholder="Entrez le nom" [value]="user?.name" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Prénom</label>
                        <input matInput type="text" formControlName="firstName" placeholder="Entrez le prénom" [value]="user?.firstName" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Service de l'utilisateur</label>
                        <input matInput type="text" formControlName="service" placeholder="Entrez le service" [value]="user?.service" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Date et heure de prise en charge</label>
                        <input matInput type="datetime-local" formControlName="pickUpDateTime" placeholder="Entrez la date et l'heure">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Numéro de Taurus</label>
                        <input matInput type="number" formControlName="taurusNumber" placeholder="Entrez le numéro de Taurus">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Fonction</label>
                        <mat-select formControlName="function">
                            <mat-option value="RECEPTION">RECEPTION</mat-option>
                            <mat-option value="INJECTION">INJECTION</mat-option>
                        </mat-select>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!accountForm.valid">Valider</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
