<div class="add-service-container">
    <h1 class="title">Ajout d'un Service</h1>
    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Informations sur le service</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-fields">
            <div class="form-group">
              <label class="form-label">Nom du service</label>
              <input matInput type="text" formControlName="name" placeholder="Entrez le nom du service">
            </div>
            <div class="form-group">
              <label class="form-label">Entrepôt</label>
              <mat-form-field appearance="fill">
                <mat-label>Sélectionner un entrepôt</mat-label>
                <mat-select formControlName="wareHouseId">
                  <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.idWareHouse">
                    {{ warehouse.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!serviceForm.valid">Ajouter</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  