<mat-toolbar color="primary" class="toolbar">
    <span>Gestion des chariots par type d'energie</span>
</mat-toolbar>

<div class="user-actions">
    <button class="action-button create" (click)="openCreateFuelTypeDialog()">
        <span class="icon">+</span>
        <span>Ajouter un type d'energie de chariot</span>
    </button>
    <button class="action-button list" (click)="openViewFuelTypeList()">
        <span class="icon">📋</span>
        <span>Liste des chariot par energie</span>
    </button>
</div>
