.spacer {
  flex: auto;
}

.mat-toolbar {
  background-color: #006064; /* Couleur de fond de la barre de navigation de l'accueil */
  color: white;
}

button {
  color: white;
}

.mat-drawer-container, .mat-drawer-content, .mat-nav-list {
  background-color: #f0f0f0; /* Couleur de fond claire pour contraster avec la barre de navigation */
  height: 100vh;
}

.mat-drawer {
  width: 250px; /* Largeur du tiroir latéral */
}

.mat-card {
  margin: 10px;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

.mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.mat-icon-button, .mat-button {
  margin-right: 8px;
}

.footer-container mat-toolbar {
  justify-content: center;
  background: #006064; /* Couleur cohérente avec le header */
}