<app-header></app-header>
<div class="suivi-container">
  <div class="scapartois-title">Scapartois Smile Reception</div>
  <div class="buttons-container">
    <button mat-raised-button class="custom-button" (click)="navigateTo('add-taurus-usage')">
      <mat-icon>devices_other</mat-icon> Taurus
    </button>
    <button mat-raised-button class="custom-button" (click)="navigateTo('add-new-cart')">
      <mat-icon>shopping_cart</mat-icon> Chariot
    </button>
    <button mat-raised-button class="custom-button" (click)="navigateTo('add-new-battery')">
      <mat-icon>battery_charging_full</mat-icon> Batterie
    </button>
    <button mat-raised-button class="custom-button" (click)="navigateTo('probleme')">
      <mat-icon>report_problem</mat-icon> Problème
    </button>
    <button mat-raised-button class="custom-button" (click)="navigateTo('action-carried-out')">
      <mat-icon>build</mat-icon> Action Réalisée
    </button>
    <button mat-raised-button class="custom-button" (click)="validate()">
      <mat-icon>check_circle</mat-icon> Valider
    </button>
  </div>
</div>
<app-footer class="footer"></app-footer>
