<!-- <app-header></app-header> -->
<div class="suivi-container">
  <div class="scapartois-title">Scapartois Smile Reception</div>
  <div class="buttons-container">
    <button mat-raised-button class="custom-button" (click)="navigateTo('/dashboard/add-taurus-usage')">
      <mat-icon>devices_other</mat-icon> Taurus
    </button>
    <button mat-raised-button class="custom-button" (click)="navigateTo('/dashboard/add-new-cart')">
      <mat-icon>shopping_cart</mat-icon> Chariot
    </button>
    <button mat-raised-button class="custom-button" (click)="navigateTo('/dashboard/add-new-battery')">
      <mat-icon>battery_charging_full</mat-icon> Batterie
    </button>
    <button mat-raised-button class="custom-button" (click)="navigateTo('/dashboard/add-new-issue')">
      <mat-icon>report_problem</mat-icon> Problème
    </button>
    <button mat-raised-button class="custom-button" (click)="validate()">
      <mat-icon>check_circle</mat-icon> Valider
    </button>
  </div>
</div>
<!-- <app-footer class="footer"></app-footer> -->
