<mat-toolbar>
    <img src="images/logo.png" alt="Logo de l'entreprise" class="logo">
    <span class="example-spacer"></span>
    <button (click)="login()" mat-button >Connexion</button>
    <button mat-button routerLink="/register">Inscription</button>
  </mat-toolbar>
  
  <div class="welcome-message">
    <h1>Scapartois Chariot Inspector!</h1>
    <p>Suivi technique de mon chariot.</p>
  </div>
  
  <div class="image-container">
    <img src="images/chariot.jpg" alt="Image de Baggage Buddies">
    <div class="smile-reception">Smile Reception</div>
  </div>
  
  <footer class="footer">
    <mat-card class="footer-card">
      <mat-card-content>
        <p>&copy; 2024 par N'gna. Tous droits réservés.</p>
      </mat-card-content>
    </mat-card>
  </footer>
  