body {
  font-family: Arial, sans-serif;
  background-color: #e0f7e9; /* Vert subtile */
  margin: 0;
  padding: 0;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

header, footer {
  background-color: #2e7d32; /* Vert professionnel */
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

header h1, footer p {
  margin: 0;
}

.main-title {
  color: #1b5e20;
  margin-bottom: 20px;
  font-size: 2.5em;
  animation: slideInFromLeft 0.5s ease-in-out;
}

.resume-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  transition: transform 0.3s ease;
}

.resume-card:hover {
  transform: translateY(-10px);
}

h2 {
  color: #1b5e20;
  margin-top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
