<div class="saisine-suivis-container">
  <div class="scapartois-title">Saisine Suivis</div>
  <div class="saisine-buttons-grid">
      <button mat-raised-button class="saisine-button" (click)="navigateTo('dashboard/all-taurus-usage')">
          <mat-icon>smartphone</mat-icon> Saisine Taurus
      </button>
      <button mat-raised-button class="saisine-button" (click)="navigateTo('dashboard/all-pickups')">
          <mat-icon>local_shipping</mat-icon> Saisine Chariot
      </button>
      <button mat-raised-button class="saisine-button" (click)="navigateTo('dashboard/all-battery-usage')">
          <mat-icon>battery_charging_full</mat-icon> Saisine Batterie
      </button>
      <button mat-raised-button class="saisine-button" (click)="navigateTo('dashboard/all-issue')">
          <mat-icon>report_problem</mat-icon> Saisine Problème
      </button>
      <button mat-raised-button class="saisine-button" (click)="navigateTo('dashboard/all-account-team')">
          <mat-icon>group</mat-icon> Saisine Équipe
      </button>
      <button mat-raised-button class="saisine-button" (click)="navigateTo('dashboard/saisine-action')">
          <mat-icon>assignment_turned_in</mat-icon> Saisine Action
      </button>
      <!-- Nouveau bouton pour "Session" -->
      <button mat-raised-button class="saisine-button" (click)="navigateTo('dashboard/all-work-session')">
          <mat-icon>schedule</mat-icon> Saisine Session
      </button>
  </div>
</div>

  