.saisine-suivis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background-color: #f4f7fa; /* Couleur de fond professionnelle et claire */
    color: #333; /* Texte en gris foncé pour un bon contraste */
  }
  
  .scarpartois-title {
    font-size: 36px;
    font-weight: bold;
    color: #0A2E36; /* Bleu foncé pour le titre */
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Légère ombre pour le titre */
  }
  
  .saisine-buttons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Grille responsive */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .saisine-button {
    width: 100%;
    padding: 15px;
    color: white;
    background-color: #007BFF; /* Bleu vif pour les boutons */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
  }
  
  .saisine-button mat-icon {
    margin-right: 8px;
  }
  
  .saisine-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .saisine-button[disabled] {
    background-color: #9E9E9E;
    box-shadow: none;
  }
  