<div class="admin-dashboard-container">
  <div class="scapartois-title">Admin Dashboard</div>
  <div class="admin-buttons-grid">
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/user-home')">
      <mat-icon>people</mat-icon> Utilisateurs
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/cart-template')">
      <mat-icon>local_shipping</mat-icon> Chariots
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/taurus-template')">
      <mat-icon>build</mat-icon> Taurus
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/battery-template')">
      <mat-icon>battery_charging_full</mat-icon> Batteries
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/service-bean-template')">
      <mat-icon>build_circle</mat-icon> Services
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/ware-house-template')">
      <mat-icon>warehouse</mat-icon> Entrepôts
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/manufacturer-template')">
      <mat-icon>factory</mat-icon> Fabricants
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/cart-category-template')">
      <mat-icon>category</mat-icon> Catégories
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/fuel-type-template')">
      <mat-icon>local_gas_station</mat-icon> Types de Carburant
    </button>
    <button mat-raised-button class="admin-button" (click)="navigateTo('dashboard/saisine-suivis')">
      <mat-icon>track_changes</mat-icon> Suivis
    </button>
    
  </div>
</div>
