<div class="add-battery-container">
    <h1 class="title">Ajout d'une Batterie</h1>
    <form [formGroup]="batteryForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Informations sur la batterie</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-fields">
            <div class="form-group">
              <label class="form-label">Numéro de batterie</label>
              <input matInput type="number" formControlName="batteryNumber" placeholder="Entrez le numéro de batterie">
            </div>
            <div class="form-group">
              <label class="form-label">Niveau de charge</label>
              <input matInput type="number" formControlName="chargeLevel" placeholder="Entrez le niveau de charge">
            </div>
            <div class="form-group">
              <label class="form-label">État de la batterie</label>
              <mat-select formControlName="state" placeholder="Sélectionnez l'état">
                <mat-option value="BON">BON</mat-option>
                <mat-option value="MAUVAIS">MAUVAIS</mat-option>
              </mat-select>
            </div>
            <div *ngIf="cartAvailable" class="form-group">
              <label class="form-label">Numéro de chariot</label>
              <input matInput type="number" formControlName="cartNumber" [value]="cartNumber" readonly>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!batteryForm.valid">Ajouter</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  