<div class="add-battery-container">
  <h1 class="title">Ajout d'une Batterie</h1>
  <form [formGroup]="batteryForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Informations sur la batterie</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-fields">
          <div class="form-group">
            <label class="form-label">Numéro de batterie</label>
            <input matInput type="number" formControlName="batteryNumber" placeholder="Entrez le numéro de batterie">
          </div>
          <div class="form-group">
            <label class="form-label">Référence de la batterie</label>
            <input matInput type="text" formControlName="refBattery" placeholder="Entrez la référence de la batterie">
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!batteryForm.valid">Ajouter</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
